h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 900;
  font-style: italic, bold;
}

.first,
.second,
.third {
  font-size: 32px;
}

.first {
  color: orange;
  background-color: yellow;
  font-family: "Times New Roman";
}

.second {
  color: darkblue;
  background-color: black;
  font-family: Helvetica, sans-serif;
}

.third {
  color: darkgreen;
  font-size: 32px;
}